body {
  text-align: center;
background-color: #fff3cd;
}
div {

  margin: 15% 20%;
}

h1 {
font-size: 40px;
  font-family: 'Handlee', cursive;
  color: #f4a548;

}

p {
  font-family: 'Aclonica', sans-serif;
font-size: 32px;
color: #142850;
margin: 21% 0 0 0;
padding: 20px 20px 20px 20px

}

hr {
  height: 7px;
}



.intro-header {
   font-family: 'Sacramento', cursive;
   font-size: 700.7%;
   color: #00909e;
}

.man {
  float: right;
}

.mountain {
  float: left;
}

.rich {
  float: right;
}

.intro-para {
padding-bottom: 30px;
  font-size:  200%;
}

.contact-me {
  text-decoration: none;
  color: grey;
  font-size: 30px;


}

.subcribe-me {
  text-decoration: none;
  color: grey;
  font-size: 30px;
}

.copyright {
  margin: auto;
}
